<%= simple_form_for(@claim) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :client_full_name %>
    <%= f.input :claim_amount %>
    <%= f.input :items %>
    <%= f.input :status,:collection => ['Pending', 'Processed']  %>
    <%= f.input :cnc_hours %>
    <%= f.input :cnc_visits %>
    <%= f.input :en_hours %>
    <%= f.input :en_visits %>
    <%= f.input :nss_hours %>
    <%= f.input :nss_visits %>
    <%= f.input :rn_hours %>
    <%= f.input :rn_visits %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-outline-primary"  %>
  </div>
<% end %>
