<div class="border">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-6">
      <h4>Claim</h4>
    </div>
    <div class="col-md-6 col-sm-6 col-6 text-right">
      <a class="btn btn-outline-primary" href="<%= edit_claim_path(@claim) %>">Edit</a>
      <a class="btn btn-outline-primary" href="#">Recalculate</a>
      <a class="btn btn-outline-primary" href="#">Approve</a>
      <a class="btn btn-outline-primary" href="#">Invoice</a>
    </div>
  </div>
  <hr>

  <p>
    <strong>Date created:</strong>
    <%= @claim.created_at %>
  </p>
  <p>
    <strong>Client name:</strong>
    <%= @claim.client_full_name %>
  </p>
  <p>
    <strong>Claim amount:</strong>
    <%= @claim.claim_amount %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @claim.status %>
  </p>
  <p>
    <strong>Billable items:</strong>
    Billable item 1, Billable item 2, Billable item 3
  </p>
  <br>
  <div class="col-md-8">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Classification</th>
          <th>Total visits</th>
          <th>Total hours</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>CNC</td>
            <td><%= @claim.cnc_visits %></td>
            <td><%= @claim.cnc_hours %></td>
            <td></td>
          </tr>
          <tr>
            <td>EN</td>
            <td><%= @claim.en_visits %></td>
            <td><%= @claim.en_hours %></td>
            <td></td>
          </tr>
          <tr>
            <td>NSS</td>
            <td><%= @claim.nss_visits %></td>
            <td><%= @claim.nss_hours %></td>
            <td></td>
          </tr>
          <tr>
            <td>RN</td>
            <td><%= @claim.rn_visits %></td>
            <td><%= @claim.rn_hours %></td>
            <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="border">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-6">
      <h4>Claim data</h4>
    </div>
    <div class="col-md-6 col-sm-6 col-6 text-right">
        <a class="btn btn-outline-primary" href="#">New</a>
    </div>
  </div>
  <br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Claim Data</th>
        <th>Hours</th>
        <th>Service items</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>January 22nd 2018</td>
          <td><%= @claim.cnc_visits %></td>
          <td><%= @claim.cnc_hours %></td>
          <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
          <td>January 24nd 2018</td>
          <td><%= @claim.en_visits %></td>
          <td><%= @claim.en_hours %></td>
          <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
          <td>January 27nd 2018</td>
          <td><%= @claim.nss_visits %></td>
          <td><%= @claim.nss_hours %></td>
          <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
          <td>January 28nd 2018</td>
          <td><%= @claim.rn_visits %></td>
          <td><%= @claim.rn_hours %></td>
          <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
    </tbody>
  </table>
</div>
