<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Claim data</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
      <a class="btn btn-outline-primary" href="<%= edit_claim_datum_path(@claim_datum) %>">Edit</a>
  </div>
</div>
<hr>

<p>
  <strong>Provider full name:</strong>
  <%= @claim_datum.provider_full_name %>
</p>

<p>
  <strong>Provider number:</strong>
  <%= @claim_datum.provider_id %>
</p>

<p>
  <strong>Date of service:</strong>
  <%= @claim_datum.date_of_service %>
</p>

<p>
  <strong>Client full name:</strong>
  <%= @claim_datum.client_full_name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @claim_datum.duration %>
</p>

<p>
  <strong>Services:</strong>
  <%= @claim_datum.service %>
</p>

<%= link_to 'Edit', edit_claim_datum_path(@claim_datum) %> |
<%= link_to 'Back', claim_data_path %>
